In [36]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [37]:
data=pd.read_csv(r'C:\Users\Z I M B A\Downloads\Sales_add.csv')

In [38]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [39]:
data.shape

(22, 5)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

# 1 The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

# One tailed Paired Samples T-Test.

# Hypothesis:
    Ho=The sales before and after stepping into digital marketing are same
    H1=The sales after stepping into digital marketing is more

In [44]:
from scipy.stats import ttest_rel

In [45]:
before=data['Sales_before_digital_add(in $)']
after=data['Sales_After_digital_add(in $)']

In [47]:
t_stat,p_value=stats.ttest_rel(before,after)

In [48]:
p_value

6.336667004575778e-11

In [49]:
if p_value<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

# 2 The company needs to check whether there is any dependency between
the features “Region” and “Manager”.

Hypothesis:
Ho : The 2 features “Region” and “Manager” which are to be compared are independent.
Ha : The 2 features are dependent.

In [50]:
crosstab = pd.crosstab(data['Region'], data['Manager'], normalize='index')
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A     0.400000     0.300000     0.300000
Region - B     0.571429     0.142857     0.285714
Region - C     0.200000     0.600000     0.200000

In [53]:
from scipy.stats import chi2_contingency

In [55]:
chi_stat1,pvalue1,dof,exp_values=chi2_contingency(crosstab)

In [56]:
chi_stat1,pvalue1,dof,exp_values

(0.5097129666190809,
 0.9725485584250712,
 4,
 array([[0.39047619, 0.34761905, 0.26190476],
        [0.39047619, 0.34761905, 0.26190476],
        [0.39047619, 0.34761905, 0.26190476]]))

In [57]:
if pvalue1<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted